.profile__edit-button{
    padding: 0;
    width: 24px;
    height: 24px;
    background: black;
    border: 1px solid #FFFFFF;
    margin-left: 17px;
    align-self: center;
    box-sizing: border-box;
}
.profile__edit-button-pic{
    z-index: 100;
}