@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/content/content.css);
@import url(../blocks/header/header.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/gallery/gallery.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/popup/popup.css);

.page{
    background-color: black;
    max-width: 882px;
    color: white;
    font-family: Inter, Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
}